.login-container {
    background: url(../images/bgs/bg-common.jpg) no-repeat right bottom;
    background-size: cover;
    padding: 200px 0;
}
.center-login {
    width: 360px;
    height: auto;
    margin: 0 auto;
}
.center-login .header .close {
    width: auto;
    height: auto;
    float: right;
}
.center-login .header .close a:link,
.center-login .header .close a:visited {
    color: #fff;
}
.center-login .header .close a:hover {
    color: #ccc;
}
.center-login .header {
    height: 30px;
    background-color: #910029;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -khtml-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}
.center-login .header .title {
    width: auto;
    height: auto;
    float: left;
}
.center-login .form {
    width: calc(100% - 50px);
    height: auto;
    float: left;
    padding: 25px;
    background-color: #fff;
}
.center-login .form .form-row {
    margin: 5px 0;
}
.center-login .form .form-row input[type="text"],
.center-login .form .form-row input[type="password"],
.center-login .form .form-row input[type="email"],
.center-login .form .form-row input[type="number"],
.center-login .form .form-row textarea {
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    width: calc(100% - 22px);
    height: auto;
    padding: 10px;
    border: 1px solid #ccc;
    resize: vertical;
    font-family: 'Roboto', sans-serif;
}
.center-login .form .form-row input[type="text"]:focus,
.center-login .form .form-row input[type="password"]:focus,
.center-login .form .form-row input[type="email"]:focus,
.center-login .form .form-row input[type="number"]:focus,
.center-login .form .form-row textarea:focus {
    box-shadow: 0 0 5px rgba(210, 25, 81, 1);
    border: 1px solid rgba(210, 25, 81, 1);
}
.center-login .form .form-row input[type="checkbox"] {
    padding: 0;
    margin: 15px 0 0 0;
    vertical-align: bottom;
    position: relative;
}
.center-login .form .form-row .form-field-common {
    color: #333;
    font-size: 12px;
}
.center-login .form .form-row .submit {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    background-color: #910029;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}
.center-login .form .form-row .submit:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}
.center-login .form .form-row a:link,
.center-login .form .form-row a:visited {
    color: #333;
}
.center-login .form .form-row a:hover {
    color: #910029;
}
@media screen and (min-width:768px) and (max-width:1150px) {
    .login-container {
        padding: 140px 0;
    }
    .center-login {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
}
@media screen and (max-width:767px) {
    .login-container {
        padding: 140px 0;
    }
    .center-login {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
}
